.card-top {
  margin: 64px 150px 50px 0;
  padding-top: 30px;
  background: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.card {
  padding: 10px;
  margin: 10px 5px;
}

.card img {
  object-fit: fill;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.btn {
  background-color: rgb(48, 38, 182);
  color: white;
  cursor: pointer;
  height: 50px;
}
.btn:hover {
  background-color: rgb(27, 12, 236);
}

.hidden {
  display: none;
}
.details {
  margin-bottom: 6px;
}

mat-slider {
  width: 200px;
}

.compare {
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.compare:hover {
  background-color: rgb(241, 233, 233);
}
.products {
  margin-top: 40px;
}

/* menu */
.third-level-menu {
  position: absolute;
  top: 0;
  right: -150px;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.third-level-menu > li {
  height: 30px;
  background: #999999;
}
.third-level-menu > li:hover {
  background: #cccccc;
}

.second-level-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.second-level-menu > li {
  position: relative;
  height: 30px;
  background: #999999;
}
.second-level-menu > li:hover {
  background: #cccccc;
}

.top-level-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.top-level-menu > li {
  position: relative;
  float: left;
  height: 40px;
  width: 150px;
  background: #999999;
  padding: 3px;
}
.top-level-menu > li:hover {
  background: #cccccc;
}

.top-level-menu li:hover > ul {
  /* On hover, display the next level's menu */
  display: inline;
}

/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */ {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 0 0 0 10px;

  /* Make the link cover the entire list item-container */
  display: block;
  line-height: 30px;
}
.top-level-menu a:hover {
  color: #000000;
}
