<div class="card-top">
  <div class="container d-flex">
    <ul class="top-level-menu" *ngFor="let cat of category; let i = index">
      <li>
        <a (click)="$Filter(cat.title)">{{ cat.title }}</a>
        <ul class="second-level-menu">
          <ng-container *ngFor="let sub1 of subCategory1">
            <li *ngIf="sub1.categoryId === cat.id">
              <a (click)="$Filter(sub1.title)">{{
                sub1.categoryId === cat.id ? sub1.title : "null"
              }}</a>
              <ul class="third-level-menu">
                <ng-container *ngFor="let sub2 of subCategory2">
                  <li
                    *ngIf="sub2.subCategory1Id === sub1.id && sub2.categoryId"
                  >
                    <a (click)="$Filter(sub2.title)">{{
                      sub2.subCategory1Id === sub1.id &&
                      sub2.categoryId === cat.id
                        ? sub2.title
                        : ""
                    }}</a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </div>
</div>
<ng-container *ngFor="let sub of subCategory1">
  <div *ngIf="filterProductLists!=productLists" >{{sub.title}}</div>
</ng-container>

<div class="d-flex products">
  <div class="ms-3">
    <h1>price Range</h1>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      step="50"
      min="0"
      max="1000"
      aria-label="units"
      (change)="onSliderChange($event)"
    ></mat-slider>
    <br />
    <br />

    <h1>Category</h1>
    <div *ngFor="let cat of category">
      <mat-checkbox
        class="example-margin"
        (change)="$CheckboxFilter($event,cat.title)"
        >{{ cat.title }}</mat-checkbox
      >
    </div>
    <br />
    <h1>Product</h1>
    <div *ngFor="let sub1 of subCategory1">
      <mat-checkbox
        class="example-margin"
        (change)="$CheckboxFilter($event,sub1.title)"
        >{{ sub1.title }}</mat-checkbox
      >
    </div>
    <br />
    <h1>Brand</h1>
    <div *ngFor="let sub2 of subCategory2">
      <mat-checkbox
        class="example-margin"
        (change)="$CheckboxFilter($event,sub2.title)"
        >{{ sub2.title }}</mat-checkbox
      >
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ng-container
        *ngFor="
          let item of filterProductLists | filter: searchKey:'title';
          let i = index
        "
      >
        <div
          class="card col-xl-2 col-md-3 col-sm-12"
          (mouseenter)="enter(i)"
          (mouseleave)="leave(i)"
        >
          <img src="{{ item.image }}" alt="" />

          <h5
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ item.title }}
          </h5>

          <p *ngIf="hoverIndex != i">
            <strong>Price:</strong> ${{ item.price }}
          </p>
          <button
            class="details"
            (click)="$OpenDialog(item, '3000ms', '1500ms')"
            *ngIf="hoverIndex == i"
          >
            Details >
          </button>

          <div class="d-flex">
            <div [ngClass]="addedItems.includes(item.id) ? '' : 'hidden'">
              <button
                (click)="$Decrease(item)"
                class="btn"
                style="width: 30px; padding: 5px; margin: 0px 8px"
                [ngClass]="item.quantity == 0 ? 'hidden' : ''"
              >
                -
              </button>
            </div>
            <button
              (click)="$AddToCartButton_click(item, item.id)"
              class="btn w-100"
              [disabled]="item.quantity == 50"
            >
              <i
                *ngIf="item.quantity == 0"
                class="fa-solid fa-bolt"
                style="margin-right: 8px"
              ></i>
              {{
                item.quantity == 0 ? "add To cart" : item.quantity + " in bag"
              }}
            </button>
            <div [ngClass]="addedItems.includes(item.id) ? '' : 'hidden'">
              <button
                (click)="$Increase(item)"
                class="btn"
                style="width: 30px; padding: 5px; margin-left: 8px"
                [ngClass]="item.quantity == 0 ? 'hidden' : ''"
                [disabled]="item.quantity == 50"
              >
                +
              </button>
            </div>
          </div>
          <button *ngIf="item.category.title == 'electronics'" class="compare">
            Add to compare
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
