<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <div class="card-title">My Cart</div>

      <div class="center">
        <img
          src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
          alt=""
        />

        <h2>Your cart is empty</h2>
        <h3>Start shopping</h3>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length > 0">
  <div class="main">
    <div class="total_products">Total {{ products.length }} items</div>
    <table class="table">
      <tbody>
        <tr *ngFor="let item of products; let i = index">
          <td>
            <img style="width: 40px" src="{{ item.image }}" alt="" />
          </td>

          <td class="product_title_price" style="width: 25%">
            {{ item.title }}<br />
            <span class="price">{{ item.price | currency }}</span>
          </td>

          <td style="width: 25%">
            <input
              type="number"
              min="1"
              max="50"
              [(ngModel)]="item.quantity"
              name="quantity"
              class="input_quantity"
              (change)="$ChangeGrandTotal()"
            />
          </td>
          <th style="width: 25%" class="total_price">
            {{ item.quantity * item.price | currency }}
          </th>
          <td>
            <i
              class="fa-solid fa-xmark delete_icon"
              (click)="$RemoveItem(item)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bottom">
    <div class="grandTotal">
      <strong>{{ grandTotal | currency }}</strong>
    </div>

    <app-button
      (btnClick)="$EmptyCart()"
      text="Empty Cart"
      class="btn btn-danger"
    ></app-button>
  </div>
</ng-container>
