.card {
  height: 70vh;
  margin: 25px;
  padding: 25px;
}
.card-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.center {
  margin-top: 50px;
  text-align: center;
}
.center img {
  height: 100px;
  width: 100px;
  margin: 20px 0px;
}

.main {
  margin-bottom: 150px;
}
.input_quantity {
  width: 40px;
}

.product_title_price {
  font-size: 11px;
}
.delete_icon:hover {
  color: red;
}
.total_products {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: rgb(189, 180, 180);
  padding: 20px;
}

.price {
  color: grey;
  font-weight: 500;
  font-size: 12px;
}
.total_price {
  font-size: 12px;
}

.bottom {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: rgb(236, 223, 223);
  width: 100%;
  padding: 20px;
}
.grandTotal {
  width: 150px;
  height: 50px;
  padding: 20px 50px;
  background-color: rgb(221, 98, 98);
  margin: 0 20px;
}
.image {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
/* 
.close{
  position: absolute;
  left: 0;

} */
