.form-control{
    margin-left: 20px;
    width: 500px;
    border-radius: 5px;
}

/* .search-icon{

    position: absolute;
    color: blue;
    right: 100vh;
    top: 25px;
    z-index: 10;
} */

.example-container {
   top:0;
   right: 0;
   bottom: 0;
   left: 0;
    width: 800px;
    height: 200px;
    
   
    
  }
/*   
  .example-events {
    width: 500px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  } */